/* .reset-button {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */



.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-top: 20px;
  }
  
  .leaderboard-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player-score {
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
    border: 2px solid #000;
    width: 150px;
    text-align: center;
    cursor: pointer;
  }
  
  .player-score.active {
    background-color: #000;
    color: #fff;
  }
  
  /* Game board styles
  .board-row {
    display: flex;
  }
  
  .board-row:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .board-cell:hover {
    background-color: #ddd;
  } */
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    .game-container {
      flex-direction: column;
      align-items: center;
    }
  
    .game-board-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  